body {
  background-color: rgb(236, 240, 246);
  padding: 0px 200px 0px 200px;
}

hr {
  height: 3px;
  border: none;
  background-color: rgb(214, 223, 235);
}

#mainHeader {
  height: 250px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

}

#mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 2000px;
  padding: 20px;
}

#planInput {
  width: 70%;
  min-width: 400px;
  height: 50px;
  padding-left: 20px;
}

#listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;

}

#todoList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#doneList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#todoItem {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50px;
  border-bottom: 4px solid rgb(214, 223, 235);
  font-size: 20px;
  font-weight: bold;
}



.todoBtn {
  background-color: rgb(214, 223, 235);
  height: 25px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  min-width: 40px;
}



.itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.listHeader {
  font-size: 25px;
  border-bottom: 3px solid rgb(214, 223, 235);
  padding-bottom: 5px;

}