body {
    background-color: rgb(232, 237, 245);
    padding: 0 200px;
    margin: 0;
}
  
hr {
    background-color: rgb(210, 225, 247);
    height: 3px;
    margin: 0;
    border: 0;
}
 
#navbar {
    min-width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
  
#main_container {
    width: calc(100% - 20px);
    min-height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#input_component::placeholder {
    color: rgb(186, 186, 186);
    width: 70%;
    min-width: 400px;
    height: 50px;
    display: flex; 
    align-items: center; 
    padding-left: 10px;
    padding-top: 10px; 
    padding-bottom: 5px; 
    box-sizing: border-box; 
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
}
  
#input_component {
    width: 70%;
    min-width: 400px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
    border: 2px solid rgb(11, 98, 148);
    border-radius: 5px; 
}

.item_container {
    flex: 1; 
    margin: 0 10px; 
}

.item_container:first-child,
.item_container:last-child {
    flex: 0.1; 
    margin: 0; 
}
  
.item_container {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#done_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listbar {
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 3px solid rgb(210, 216, 225);
}

#list_container {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

#todo_container {
    width: 60%;
    height: 50px;
    margin: 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid rgb(210, 216, 225);
    font-size: 18px;
    font-weight: bold;
}
  
.btn {
    background-color: rgb(210, 216, 225);
    border: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    min-width: 40px;
    height: 25px;
}