.umc_title {
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  width: fit-content;
}

hr {
  width: 800px;
  height: 1px;
  border: 0;
  background: lavenderblush;
}
ul {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between; /* 버튼과 텍스트 사이 간격을 줌 */
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid white;
  border: 1px solid #ccc; /* 간단한 테두리 추가 */
}
li input[type="button"] {
  margin-left: 50px; /* 텍스트와 버튼 사이에 간격 추가 */
  padding: 5px 10px;
  border: 1px solid #888;
  background-color: #e7e7e7;
  border-radius: 3px;
  cursor: pointer;
}
li input[type="button"]:hover {
    background-color: #ccc; /* 버튼 hover 시 색상 변경 */
}
section {
  margin: 20px;
}
.search {
  text-align: center;
  margin: 20px;
}

#search-input {
  width: 700px;
  padding: 10px;
  border-width: 2px;
}

#search-input::placeholder {
  color: lightgray;
  font-style: italic;
}

section h3 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  display: inline-block;
}

.todo{
  width: 45%; /* 각각의 섹션이 45% 너비를 차지 */
  border: 1px solid red;
  margin: auto auto auto auto;
  width: fit-content;
}
.done {
  width: 45%; /* 각각의 섹션이 45% 너비를 차지 */
  border: 1px solid red;
  margin: auto auto auto;
  width: fit-content;
}
.container {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between; /* 요소들 사이에 간격 부여 */
  align-items: flex-start; /* 요소들 위쪽 정렬 (필요시) */
  margin: 0 auto; /* 컨테이너를 중앙에 배치 */
  padding: 20px;
  max-width: 1200px; /* 전체 컨테이너의 최대 너비 */
  flex-wrap: wrap;
}
/*#todo_list{
  border-bottom: 1px solid black;
  
  margin : 10px;
  width: fit-content;
}*/
/* 화면이 1024px 이하일 때 적용할 스타일 */
@media (max-width: 1024px) {
  #search-input {
    width: 100%; /* 검색 창이 화면의 100% 너비를 차지 */
  }

  .todo{
    width: 45%; /* 각각의 섹션이 45% 너비를 차지 */
    margin: auto auto auto auto;
  }
  .done {
    width: 45%; /* 각각의 섹션이 45% 너비를 차지 */
    margin: auto auto auto auto;
  }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  
  .todo{
    width: 45%; 
    margin: auto auto auto auto;
  }
  .done {
    width: 45%; 
    margin: auto auto auto auto;
  }
}*/