/* navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    /* 배경색을 검은색으로 설정 */
}

.logo {
    font-size: 2rem;
    /* 글씨 크기 */
    font-weight: bold;
    /* 글씨 두께 */
    color: rgb(228, 33, 130);
    /* 글씨 색상 */
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    /* 동그란 모서리 */
    margin-left: 10px;
    /* 버튼 사이 간격 */
    text-decoration: none;
    /* 밑줄 제거 */
    color: white;
    /* 텍스트 색상을 흰색으로 설정 */
    font-weight: bold;
}

.login {
    background-color: black;
    /* 로그인 버튼 색상 */
}

.signup {
    background-color: rgb(228, 33, 130);
    /* 가입 버튼 색상 */
}

.button:hover {
    opacity: 0.8;
    /* hover 시 약간 투명하게 */
}